<%- include('layouts/header') %>

<div class="container mt-4">
  <h1>Liên hệ</h1>
  <p>Họ tên: Nghĩa</p>
  <p>Email: abc@gmail.com</p>
  <p>SĐT: 0123456789</p>
</div>

<%- include('layouts/footer') %>